fastapi
uvicorn

#for databases
sqlalchemy #ORM like tortoise
psycopg2 #adaptor to connect sqlachemy with sqldatabase

#for creating env variables
python-dotenv

#for email validation
pydantic
#for hashing
passlib[bcrypt]

#for testing
pytest
requests
